<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <forms>
        <form name="carriersdelivery_config" class="CarriersDelivery\Form\ConfigForm"/>
        <form name="carriersdelivery_area_create" class="CarriersDelivery\Form\AreaCreateForm"/>
        <form name="carriersdelivery_area_edit" class="CarriersDelivery\Form\AreaEditForm"/>
        <form name="carriersdelivery_areacost_create" class="CarriersDelivery\Form\AreacostCreateForm"/>
        <form name="carriersdelivery_areacostkg_create" class="CarriersDelivery\Form\AreacostkgCreateForm"/>
        <form name="carriersdelivery_carrier_create" class="CarriersDelivery\Form\CarrierCreateForm"/>
        <form name="carriersdelivery_carrier_edit" class="CarriersDelivery\Form\CarrierEditForm"/>
        <form name="carriersdelivery_packingcost_create" class="CarriersDelivery\Form\PackingcostCreateForm"/>
        <form name="carriersdelivery_packingcost_edit" class="CarriersDelivery\Form\PackingcostEditForm"/>
    </forms>
    <hooks>
        <hook id="carriersdelivery.hook.back" class="CarriersDelivery\Hook\BackHook" scope="request">
            <tag name="hook.event_listener" event="order-edit.delivery-module-bottom" type="back"/>
            <tag name="hook.event_listener" event="product.modification.form-right.bottom" type="back"/>
        </hook>
    </hooks>
    <loops>
        <loop class="CarriersDelivery\Loop\AreasLoop" name="carriersdelivery_areas"/>
        <loop class="CarriersDelivery\Loop\AreascostsLoop" name="carriersdelivery_areascosts"/>
        <loop class="CarriersDelivery\Loop\AreascostskgLoop" name="carriersdelivery_areascostskg"/>
        <loop class="CarriersDelivery\Loop\CarriersLoop" name="carriersdelivery_carriers"/>
        <loop class="CarriersDelivery\Loop\OrdersLoop" name="carriersdelivery_orders"/>
        <loop class="CarriersDelivery\Loop\PackingcostsLoop" name="carriersdelivery_packingcosts"/>
    </loops>
    <services>
        <service id="carriersdelivery.listener" class="CarriersDelivery\EventListeners\CarriersDeliveryListener">
            <argument type="service" id="thelia.translator"/>
            <argument type="service" id="request_stack"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>
</config>